
/* Styles by BlasAST */

/* Reset defaults */
body, figure, h2, h3
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: rgb(34, 25, 25);
    color: white;
    min-width: 575px;
    max-width: 1440px;
    margin: 0 auto;
}


:root
{
    --fondo: rgb(75, 70, 70);
    --dark_items: rgb(90, 42, 42);
}

/* Navbar */
.navbar
{
    background-color: var(--fondo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    margin: 5%;
    border-radius: 15px;
}
.navbar img
{
    width: 90%;
}
.navbar button
{
    border-radius: 15px;
    padding: 10px;
    border-style: none;
}

/* Sections */

/* Section without flex and grid */
.sections
{
    margin-bottom: 20px;
}
.sections h2
{
    float: left;
}
.sections div
{
    float: right;
    width: 50%;
    text-align: right;
}

.sections button
{
    background-color: var(--dark_items);
    color: white;
    border-radius: 15px;
    padding: 2% 4%;
    border-style: none;
    margin: 0 1%;
}

.sections::after
{
    content: "";
    display: block;
    clear: both;
}

/* Secciones */
.cards
{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: space-between;
    justify-items: normal;
    align-items: normal;
    height: auto;
}

section
{
    background-color: var(--dark_items);
    padding: 8%;
    margin:5% 0;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards > section div button:nth-of-type(1)
{
    border-color: white;
    border-radius: 15px;
    background-color: var(--dark_items);
    color: white;
    padding: 2% 5%;
}

.cards > section div button:last-of-type
{
    padding: 0;
    width: 2.5rem;
    height: 1.2rem;
    border-radius: 15px;
    border-color: transparent;
}

.cards > section div button:last-of-type > span
{
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 90px;
    background-color: var(--fondo);
}

.cards > section div button:last-of-type span:hover
{
    background-color: var(--dark_items);
}

.cards section div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Config */

.attribution
{
    font-size: 11px; text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

.show
{
    display: inline-block;
}

.hidden
{
    display: none;
}

.container
{
    margin: 0 5%;
}
.dark_items
{
    background-color: var(--dark_items); 
}

.active,
.sections .active
{
    background-color: white;
    color: darkblue;
}